* {
    box-sizing: border-box;
    list-style-type: none !important;
    text-decoration: none !important;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url("../font/FontsFree-Net-Acumin-Pro-Book.ttf");
}

@font-face {
    font-family: 'TitlingGothicFB Cond';
    src: url("../font/TitlingGothicFB_Cond_Bold.otf");
}

.font_acumin-pro {
    font-family: 'Acumin Pro', sans-serif;
}

.font_titling {
    font-family: 'TitlingGothicFB Cond', sans-serif;
}

/* ....................line-height ......................*/
.lh_60 {
    line-height: 60px;
}

.lh_43 {
    line-height: 43px;
}

.lh_40 {
    line-height: 40.6px;
}

.lh_36 {
    line-height: 36px;
}

.lh_34 {
    line-height: 34px;
}

.lh_30 {
    line-height: 30px;
}

.lh_27 {
    line-height: 27px;
}

.lh_25 {
    line-height: 25px;
}

.lh_24 {
    line-height: 24px;
}

.lh_19 {
    line-height: 19px;
}

.lh_16 {
    line-height: 16px;
}

.lh_14 {
    line-height: 14px;
}

/* .........................hero-section................ */
.hero-bg {
    background-image: url("../images/png/hero-bg\ image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.py_14 {
    padding-top: 14px;
    padding-bottom: 14px;
}

.opacity_70 {
    opacity: 70%;
}

.gap_10 {
    gap: 10px;
}

.gap_65 {
    gap: 65px;
}

.w_75 {
    width: 75px;
    height: 63px;
}

.nav-box {
    border-radius: 16px;
    padding: 3px 25px 4px 25px;
    background: var(--fc-white);
}

.call-usbtn {
    width: 93px;
    height: 51px;
    border: none;
    padding: 20px;
    border-radius: 84px;
    box-shadow: 0px 0px 26.2px 0px var(--btn-shadow);
    background: var(--btn-bg);
    transition: all .2s;
}

#heroslider .slick-track {
    gap: 40px !important;
    display: flex !important;
    align-items: center !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.call-usbtn:hover {
    background: var(--fc-white);
    color: var(--btn-bg);
}

.transtion {
    transition: all .2s;
}

.hover_nav:hover {
    color: var(--btn-bg);
}

.max-w730 {
    max-width: 730px;
}

.pt-48 {
    padding-top: 48px;
}

.max-w430 {
    max-width: 430px;
}

.text_hover {
    transition: all .2s;
}

.text_hover:hover {
    color: var(--fc-white);
    opacity: 100%;
    cursor: pointer;
}

.common-btn {
    border: none;
    padding: 20px;
    border-radius: 84px;
    width: 172px;
    height: 51px;
    background: var(--btn-bg);
    box-shadow: 0px 0px 26.2px 0px var(--btn-shadow);
    transition: all .2s;
}

.common-btn:hover {
    background: var(--fc-white);
    color: var(--btn-bg);
}

.mb_40 {
    margin-bottom: 25px;
}

.no-mess {
    background: #E3FAFF0D;
    padding: 22px;
    border-radius: 16px;
    max-width: 544px;
    backdrop-filter: blur(20px);
}

.gap_12 {
    gap: 12px;
}

.gap_28 {
    gap: 28px;
}

/* .....................................section-2 cloud ....................*/
.cloud-bg {
    background-image: url("../images/png/cloud-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.max_518 {
    max-width: 518px;
}

.pb_6 {
    padding-bottom: 6px;
}

.pt_13 {
    padding-top: 13px;
}

.play_icon {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 46%;
    top: 49%;
    transform: translate(-50%, -50%);
    border-radius: 110px;
    background: var(--btn-bg);
    cursor: pointer !important;
    z-index: 1;
}

.max_img558 {
    max-width: 558px;
}

.ice-blast {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.py_40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mb_20 {
    margin-bottom: 20px;
}

/* ........................section-3............ */
.bg-color1 {
    background-color: var(--btn-bg);
}

.mt_1 {
    margin-top: -1px !important;
}

.opacity_90 {
    opacity: 90%;
}

.mb_1 {
    margin-bottom: -1px;
}

/* .....................section-4......................... */
.mt_48 {
    margin-top: 24px;
}

.max_w451 {
    max-width: 451px;
}

.pb_4 {
    padding-bottom: 4px;
}

.pb_28 {
    padding-bottom: 16px;
}

.bg_imagebehind {
    background-image: url("../images/png/behindscensebgimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.max-w592 {
    max-width: 592px;
}

.pt_12 {
    padding-top: 12px;
}

.play_icon2 {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    border-radius: 110px;
    background: var(--btn-bg);
    cursor: pointer !important;
}

.w_30 {
    width: 30px;
}

.pt_40 {
    padding-top: 40px;
}

.pb_48 {
    padding-bottom: 48px;
}

/* .......................................section-5 accordion-1................... */
.max-w789 {
    max-width: 789px;
}

.max_w242 {
    max-width: 242px;
}

.accordianbox2 {
    max-width: 1140px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.accordian2 {
    padding: 20px;
    border-radius: 14px;
    border: 1px solid var(--accordion-border1);
    margin-bottom: 10px;
}

.box-bg1 {
    background: var(--accordion-bg1);
}

.box-bg2 {
    background: var(--acoordion-itembg);
}

.box-bg3 {
    background: var(--accordion-bg3);
}

.box-bg4 {
    background: var(--accordion-bg4);
}

.max_w551 {
    max-width: 551px;
}

.para {
    height: 0;
    overflow: hidden;
}

.vector-subtract {
    height: 3.8px;
    width: 21px;
}

.plus-vector {
    width: 21px;
    height: 21px;
}

.accordian2 .plus-vector {
    display: inline-block;
}

.accordian2 .vector-subtract {
    display: none;
}

.accordian2.active .plus-vector {
    display: none;
}

.accordian2.active .vector-subtract {
    display: inline-block;
}

.accordian2.active .para {
    height: unset !important;

}

.accordionbtn2 {
    cursor: pointer;
    position: relative;
}

.accordian2 {
    cursor: pointer;
}

.accordian2.active .accordionbtn2 .chngIcon {
    transform: rotate(100deg)
}

/* ...................................quote-today section-6 */
.quote-box {
    box-shadow: 0px 0px 26.2px 0px var(--quate-box);
    border: 6px solid var(--quate-border);
    border-radius: 14px;
    padding: 20px;
}

.opacity_80 {
    opacity: 80%;
}

.max_w770 {
    max-width: 770px;
}

.mt_40 {
    margin-top: 20px;
}

/* ...........................meet_team............................... */
.absolute_ellips1 {
    position: absolute;
    left: -160px;
    top: -160px;
    z-index: 2;
}

.max_wimg577 {
    max-width: 577px;
}

.max_wimg461 {
    max-width: 461px;
}

.max_imgw300 {
    max-width: 300px;
}

.absolute_img1 {
    position: absolute;
    left: -160px;
    top: 140px;
}

.lh_21 {
    line-height: 21px;
}

.pb_10 {
    padding-bottom: 10px;
}

.max_w966 {
    max-width: 966px;
}

/* .............................accordion2.................... */
.accordion {
    /* border: none !important; */
    max-width: 1140px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 48px !important;
    margin-bottom: 20px !important;
}

.accordion-body {
    padding: 0 24px 24px 30px !important;
    max-width: 1003px;
}

.accordion-item {
    margin-bottom: 20px !important;
    color: var(--fc-white) !important;
    background-color: var(--primary-black) !important;
    border: solid 1px var(--accordion-border);
    border-radius: 14px !important;
}

.accordion-button {
    padding: 12px 12px 12px 15px !important;
    border-radius: 14px !important;
    box-shadow: none !important;
    background-color: var(--acoordion-itembg) !important;
    border: solid 1px var(--accordion-border);
}

.accordion-button:not(.collapsed) {
    color: var(--fc-white) !important;
    padding: 24px 24px 12px 30px !important;
    background-color: var(--primary-black) !important;
    border: none !important;
    border-radius: 14px !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../images/svg/subtract-icon.svg") !important;
}

.accordion-button::after {
    background-image: url("../images/svg/accordion-plusicon.svg") !important;
}

.accordion-item:first-of-type>.accordion-header .accordion-button {
    border-radius: 14px !important;
}

.text_areabox {
    max-width: 1140px;
    width: 100%;
    border: solid 1px var(--accordion-border);
    background-color: var(--acoordion-itembg) !important;
    padding: 16px;
    border-radius: 14px !important;
    margin-left: auto;
    margin-right: auto;
}

.forms {
    border-radius: 14px !important;
    padding: 16px;
    outline: none;
}

.py_45_65 {
    padding-top: 45px;
    padding-bottom: 65px;
}

/* ................................Latest News & Insights.............................. */
.py_48 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.latest_box {
    box-shadow: 0px 0px 12px 0px var(--latest-box);
    border-radius: 16px;
    padding: 10px 10px 24px 10px;
    background: var(--fc-white);
}

.january_box {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.pb_10 {
    padding-bottom: 10px;
}

.more-btn {
    border: none;
    padding: 20px;
    border-radius: 84px;
    width: 125px;
    height: 51px;
    background: var(--btn-bg);
    box-shadow: 0px 0px 26.2px 0px var(--btn-shadow);
    transition: all .2s;
}

.more-btn:hover {
    background: var(--fc-white);
    color: var(--btn-bg);
}

/* < !-- Join Our Mailing List --> */
.pt_100 {
    padding-top: 48px;
}

.mail_box {
    max-width: 958px;
    box-shadow: 0px 2px 34px 0px var(--latest-box);
    background: var(--primary-black);
    border-radius: 42px;
    padding: 50px 20px 30px 20px;
}

.mail_absolute {
    position: absolute;
    top: -50px;
    left: 38%;
}

.max_wimg81 {
    max-width: 81px;
}

.input_modify {
    max-width: 505px;
    border-radius: 47px;
    background: var(--fc-white);
    width: 100%;
    padding: 15px 15px 15px 20px;
}

.mail_modify {
    background: transparent;
    font-weight: normal;
    outline: none !important;
    font-size: var(--fs-xmd);
    line-height: 22px;
    color: var(--primary-black);
    opacity: 80%;
    border: none;
    font-family: 'Acumin Pro', sans-serif;
    width: 100%;
}

input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
    background-color: initial;
    border: .15px solid #fff;
    border: .15px solid var(--fc-white);
    border-radius: 2px;
    cursor: pointer;
    display: grid;
    height: 1.15em;
    margin: 0;
    position: relative;
    width: 1.15em;
}

input[type=checkbox]:checked:before {
    border: solid var(--btn-bg);
    border-width: 0 2px 2px 0;
    content: "";
    height: 10px;
    margin: -1px -1px 0;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: rotate(45deg) translate(-50%, -50%);
    width: 5px;
    z-index: 2;
}

.mb_100 {
    margin-bottom: -50px;
}

/* ............................slider...................... */
.max_wimg509 {
    max-width: 509px;
}

.height_434 {
    height: 434px;
}

.prev_button {
    position: absolute;
    left: 45%;
    top: 67%;
    width: 42px;
    height: 42px;
    border-radius: 45px;
    font-size: 24px;
    background-color: var(--btn-bg);
    border: solid 1px var(--fc-white);
    box-shadow: 0px 0px 26.2px 0px var(--btn-shadow);
    cursor: pointer;
    z-index: 1;
    transition: all .3s linear;
}

.prev_button:hover {
    background: var(--fc-white);
}

.prev_button:hover svg path {
    fill: var(--btn-bg);
}

.next_button {
    position: absolute;
    right: 45%;
    top: 67%;
    width: 42px;
    height: 42px;
    border-radius: 45px;
    font-size: 24px;
    background-color: var(--btn-bg);
    cursor: pointer;
    border: solid 1px var(--fc-white);
    transition: all .3s linear;
    z-index: 1;
}

.next_button:hover {
    background: var(--fc-white);
}

.next_button:hover svg path {
    fill: var(--btn-bg);
}

.mt_57 {
    margin-top: 30px;
}

.carousel-slide {
    display: block;
    width: 360px;
    height: auto;
    padding: 0;
    border-radius: 16px;
    overflow: hidden;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: transparent;
    /* border: 10px solid red; */
}

.swiper-controls {
    margin-top: 20px;
}

.swiper-slide {
    border: 3px solid var(--fc-white);
    border-radius: 13px;
    position: relative;
}

.swiper-slide::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #10192e80;
}

.swiper-3d {
    perspective: 973px !important;
}

.carousel-slider .swiper-pagination {
    display: none !important;
}

.swiper-btn {
    width: 42px !important;
    height: 42px !important;
    border-radius: 50%;
    box-shadow: 0px 0px 26.2px 0px var(--color-fa);
    background-color: var(--white-color);
    transition: all 200ms linear;
}

.swiper-btn:hover {
    box-shadow: 0px 0px 10px var(--black-color);
}

.swiper-btn:active {
    transform: scale(0.9);
}

.swiper-button-next {
    position: absolute !important;
    right: -64px;
    top: 54%;
}

.swiper-button-prev {
    position: absolute !important;
    left: -64px;
    top: 54%;
}

.swiper-pagination-bullet {
    display: none;
}

.swiper-button-next::after {
    font-weight: bold;
    content: "next";
    font-size: 26px;
    color: var(--color-fa);
    position: relative;
    left: 2px;
}

.swiper-button-prev::after {
    font-weight: bold;
    content: "prev";
    font-size: 26px;
    color: var(--color-fa);
    position: relative;
    left: -2px;
}

.swiper-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.carousel-slider .swiper-btn {
    position: static;
    height: 22px;
    margin: 0;
}

.carousel-slider .swiper-btn:after {
    font-size: 22px;
    color: var(--black-color);
}

.carousel-slider .swiper-pagination {
    position: static;
    width: fit-content;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.carousel-slider .swiper-pagination-bullet {
    width: 14px;
    height: 4px;
    border-radius: 3px;
    margin: 0 !important;
}

.carousel-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--black-color);
}

.carousel-slide.swiper-slide-active {
    border-radius: 16px;
    border: solid 3px var(--slider-activeborder);
}

.carousel-slide.swiper-slide-active::after {
    display: none !important;
}

.container1 {
    max-width: 1165px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
    width: 100% !important;
}

.top_20 {
    top: -22%;
}

/* ..............................footer..................... */
.bg-color2 {
    background: var(--primary-black);
}

.py_38_25 {
    padding-top: 38px;
    padding-bottom: 25px;
}

.my_57_48 {
    margin-top: 57px;
    margin-bottom: 48px;
}

.w_img85 {
    max-width: 85px;
}

.mt_10 {
    margin-top: 10px;
}

.pb_12 {
    padding-bottom: 12px;
}

.icon-hover {
    transition: all .2s linear;
}

.icon-hover:hover {
    transform: scale(1.1);
}

.hover_nav:hover {
    opacity: 100% !important;
}

.pb_18 {
    padding-bottom: 18px;
}

.topBtn {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    visibility: hidden;
    position: fixed;
    bottom: 15px;
    right: 30px;
    background-color: var(--btn-bg);
    cursor: pointer;
    padding: 10px;
    z-index: 15;
    transition: .5s;
    border: solid 1px var(--fc-white);
}

.topBtn.show {
    visibility: visible;
}

.topBtn:active {
    transform: translateY(5px);
}

.topBtn:hover {
    box-shadow: 0px 3px 15px 3px var(--fc-white);
}

.mt_2 {
    margin-top: -2px;
}

.mb_50 {
    margin-bottom: -25px;
}

.my_100 {
    margin-top: -50px;
    margin-bottom: -20px;
}

.mt_3 {
    margin-top: -4px;
}

.pt_37 {
    padding-top: 20px
}

.max_557 {
    max-width: 557px;
}

.cursor_pointer {
    cursor: pointer;
}




/* media_quaries */
@media(max-width:991.99px) {
    .iconbox {
        width: 35px;
        height: 25px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 40;
        cursor: pointer;
    }

    .iconbox>span {
        width: 100%;
        height: 3px;
        background-color: var(--btn-bg);
        border-radius: 5px;
    }

    .menulist {
        display: flex;
        justify-content: center;
        position: fixed;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        top: 0;
        z-index: 30;
        left: -100%;
        transition: all 300ms linear;
        background-color: var(--fc-white);
    }

    .overflowhidden {
        overflow: hidden !important;
    }

    .cross span:nth-child(1) {
        transform: rotate(43deg) translateY(14px);
        transition: 300ms linear;
        background: var(--btn-bg);
        width: 27px;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 0.5ms linear;
    }

    .cross span:nth-child(3) {
        transform: rotate(-42deg) translateY(-15px);
        transition: 300ms linear;
        background: var(--btn-bg);
        width: 27px;
    }

    .gap_16 {
        gap: 16px;
    }
}

@media(max-width:1239.99px) {
    .pb_40 {
        padding-bottom: 40px
    }

    .max-wimg2 {
        max-width: 420px;
    }

    .max-wimg3 {
        max-width: 400px;
    }

    .mt_100 {
        margin-top: -60px;
    }

}

@media(min-width:1440px) and (max-width:1535.99) {
    .container {
        max-width: 1440px !important;
    }
}

@media(min-width:576px) {
    .sm_lh_75 {
        line-height: 75px;
    }

    .mb_40 {
        margin-bottom: 40px;
    }

    .nav-box {
        padding: 3px 45px 4px 45px;
    }

    .sm_60_60 {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .pb_sm_60 {
        padding-bottom: 60px;
    }

    .quote-box {
        padding: 37px;
        max-width: 1140px;
    }

    .sm_lh_44 {
        line-height: 44.8px;
    }

    .mt_57 {
        margin-top: 57px;
    }

    .lh_39 {
        line-height: 39px;
    }

    .lh_33 {
        line-height: 33.6px;
    }

    .mt_48 {
        margin-top: 48px;
    }

    .play_icon2 {
        width: 60px;
        height: 60px;
    }

    .w_30 {
        width: 48px;
    }

    .play_icon {
        width: 60px;
        height: 60px;
    }

    .pb_28 {
        padding-bottom: 28px;
    }

    .accordion-button {
        padding: 24px 24px 24px 30px !important;
    }

    .text_areabox {
        padding: 16px 30px 38px 30px;
    }

    .mt_40 {
        margin-top: 40px;
    }

    .pt_100 {
        padding-top: 70px;
    }

    .pt_37 {
        padding-top: 37px
    }

    .mb_50 {
        margin-bottom: -35px;
    }

    .mail_box {
        padding: 50px 40px 40px 40px;
    }

    .input_modify {
        padding: 3px 3px 3px 20px;
    }

    .mail_absolute {
        left: 46%;
    }
}

@media(min-width:768px) {

    .md_lh_90 {
        line-height: 90px;
    }

    .md_80_80 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .md_lh_57 {
        line-height: 57.6px;
    }

    .md_pb_80 {
        padding-bottom: 80px;
    }

    .md_maxw460 {
        max-width: 461px;
    }

    .md_height_260 {
        height: 260px;
    }

    .max_w300 {
        max-width: 300px;
    }

    .accordian2 {
        padding: 32px;
    }

    .pt_100 {
        padding-top: 100px;
    }

    .mb_50 {
        margin-bottom: -70px;
    }

    .mail_box {
        padding: 68px 100px 40px 100px;
    }

    .mb_100 {
        margin-bottom: -100px;
    }

}

@media(min-width:992px) {
    .lg_pt-87 {
        padding-top: 87px;
    }

    .lg_lh_115 {
        line-height: 115px;
    }

    .hero-bg {
        background-size: 100% 100%;
    }

    .lg_py_100_80 {
        padding-top: 100px;
        padding-bottom: 80px;
    }

    .max_351 {
        max-width: 351px;
    }

    .lg_pb_121 {
        padding-bottom: 121px;
    }

    .lg_height_383 {
        height: 383px;
    }

    .lg_py_50_80 {
        padding-top: 50px;
        padding-bottom: 80px;
    }

    .lg_pt_50 {
        padding-top: 50px;
    }

    .max_w350 {
        max-width: 350px;
    }

    .max_w357 {
        max-width: 357px;
    }

    .min_vh_100 {
        height: 954px;
    }

    .mt_1 {
        margin-top: -2px !important;
    }

    .max_w613 {
        max-width: 613px;
    }

    .my_100 {
        margin-top: -100px;
        margin-bottom: -100px;
    }

    .mail_box {
        padding: 68px 226px 40px 227px;
    }

    .mb_19 {
        margin-bottom: 19px;
    }

    .mb_6 {
        margin-bottom: -7px;
    }
        .mb_15 {
            margin-bottom: -6px;
        }

}

@media(min-width:1240px) {
    .img-absolute1 {
        position: absolute;
        height: 439px;
        max-width: 728px;
        right: 0;
        top: 19%;
    }

    .img-absolute2 {
        position: absolute;
        height: 510px;
        max-width: 641px;
        left: 0;
        top: 45%;
    }

    .py_118 {
        padding-top: 118px;
        padding-bottom: 118px;
    }

    .py_153 {
        padding-top: 153px;
        padding-bottom: 153px;
    }

    .max_558 {
        max-width: 558px;
    }

    .max_img631 {
        max-width: 631px;
    }

    .prev_button {
        left: 0;
        top: 45%;
    }

    .next_button {
        right: 0;
        top: 45%;
    }

    .mb_50 {
        margin-bottom: -30px;
    }

    .mt_100 {
        margin-top: -100px;
    }

    .mb_15 {
        margin-bottom: -18px;
    }

}

@media(min-width:1300px) {
    .prev_button {
        left: 40px;
    }

    .next_button {
        right: 40px;
    }
}

@media(min-width:1400px) {
    .prev_button {
        left: 70px;
    }

    .next_button {
        right: 70px;
    }

    .mb_1 {
        margin-bottom: -2px;
    }

    .mb_6 {
        margin-bottom: -10px;
    }

    .mb_15 {
        margin-bottom: -4px;
    }
}

@media(min-width:1500px) {
    .mb_1 {
        margin-bottom: -1px;
    }

    .mb_6 {
        margin-bottom: -2px;
    }

    .mb_15 {
        margin-bottom: -2px;
    }
}

@media(min-width:1720px) {
    .prev_button {
        left: 250px;
    }

    .next_button {
        right: 250px;
    }

    .mb_1 {
        margin-bottom: -3px;
    }

    .mb_6 {
        margin-bottom: -3px;
    }

    .mb_15 {
        margin-bottom: -21px;
    }
}